:root {
    --blue: #4F46BA;
    --orange: #FF7F5C;
    font-family: "Manrope", sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

/* Utility class  */
.h-primary {
    font-size: 60px;
    font-weight: 800;
    line-height: 80px;
    letter-spacing: -0.03em;
    color: rgba(0, 0, 0, 1);
}

.h-sec {
    font-size: 30px;
    font-weight: 800;
    line-height: 34px;
    letter-spacing: -0.03em;
    color: rgba(0, 0, 0, 1);
}

.paragh {
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: -0.02em;
    color: rgba(100, 96, 125, 1);
}

.btn-paragh {
    font-size: 17px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: -0.02em;
    text-align: left;
    /*yo hatauna parna sakchha*/
}

.box-paragh {
    font-size: 15px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: -0.02em;
    text-align: left;
    color: #000000;
}

.features-head {
    font-size: 22px;
    font-weight: 800;
    line-height: 35px;
    letter-spacing: -0.03em;
    text-align: center;
}

.testi-par1 {
    font-size: 25px;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: -0.02em;
    text-align: left;
    color: rgba(0, 0, 0, 1);
    margin: 55px 10px;
}

.testi-par2 {
    font-size: 20px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: -0.02em;
    text-align: left;
    color: rgba(0, 0, 0, 1);
    margin: 10px 10px;
}

.h2-blogs {
    font-size: 16px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0.07em;
    text-align: left;
    color: rgba(0, 0, 0, 1);
}

.h3-blogs {
    font-size: 29px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: -0.02em;
    text-align: left;
    color: rgba(0, 0, 0, 1);
}

.footer-head {
    font-family: Gilroy;
    font-size: 21px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: -0.02em;
    text-align: left;
    color: rgba(27, 28, 49, 1);
    font-family: "Manrope", sans-serif;
}

.footer-lightP {
    font-family: Manrope;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: -0.02em;
    text-align: left;
    /* line height ra color change  */
}

.footer-darkP {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(24, 20, 51, 1);
}

.faq-h{
    font-size: 22px;
    font-weight: 800;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(0, 0, 0, 1);    
}

.faq-p{
font-size: 16px;
font-weight: 600;
line-height: 31px;
letter-spacing: -0.02em;
/* text-align: center; */
color: linear-gradient(0deg, #000000, #000000),
linear-gradient(0deg, #000000, #000000);
}

.flex {
    display: flex;
}

/* End of utility classes  */

#header {
    /* position: absolute; */
    background: linear-gradient(292.12deg, #62BADA -35.02%, #C9E7F2 78.96%);
    height: 900px;
}

#header .navigation {
    display: flex;
}

#header .navigation ul {
    display: flex;
}

#header .navigation {
    padding-top: 38px;
}

#header .navigation .logo {
    margin-left: 160px;
}

#header .navigation .btn {
    margin-left: 332px;
}

#header .navigation .btn a {
    padding: 12px;
    text-decoration: none;
    color: black;
}

#header .navigation .navbar {
    margin-left: 324px;
}

#header .navigation .navbar ul li {
    list-style: none;
}

#header .navigation .navbar ul li a {
    padding: 0px 12px;
    text-decoration: none;
    color: black;
}

#header .navigation .btn #start-free {
    width: 137px;
    height: 52px;
    background: rgba(79, 70, 186, 1);
    padding: 17px 36px;
}

#header .container .left {
    margin-left: 160px;
}

#header .container .left h1 {
    margin-top: 241px;
}

#header .container .left p {
    margin-top: 10px;
}

#header .container .left .btn {
    display: flex;
    margin-top: 36px;
}


#header .container .left .btn #get-started {
    text-decoration: none;
    background: rgba(55, 52, 169, 1);
    /* width: 162px;
height: 60px; */
    border-radius: 47px;
    color: white;
    padding: 15px 39px;
}

#header .container .left .play {
    display: flex;
}

#header .container .left .play img {
    width: 60px;
    height: 60px;
    margin-left: 53px;
}

#header .container .left .blue-ticks {
    display: flex;
    margin-top: 70px;
}

#header .container .left .blue-ticks img {
    width: 18px;
    height: 18px;
}

#header .container .left .blue-ticks .free {
    display: flex;
}

#header .container .left .blue-ticks .free p {
    margin: -6px 10px;
}

#header .container .left .blue-ticks .great p {
    margin: -6px 10px;
}

#header .container .left .blue-ticks .great {
    display: flex;
    margin-left: 30px;
}

/* End of header section  */

.companies {
    position: absolute;
    width: 100%;
    height: 239px;
    top: 860px;
    background: #F5F6F8;
    z-index: 0;
}

.companies p {
    font-size: 22px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: center;
    margin-top: 50px;
}

.companies .photos {
    display: flex;
    justify-content: space-evenly;
    margin-top: 46px;
}

/* End of companies  */

.heading {
    /* position: absolute; */
    /* width: 1171px; */
    height: 210px;
    margin-top: 238px;
    display: flex;
}

.heading .left1 {
    margin-left: 160px;
}

.heading .right1 .box {
    /* border: 2px solid brown; */
    margin-left: 289px;
    background: rgba(196, 196, 196, 1);
    border-radius: 20px;
    opacity: 0.3px;
    margin-top: -40px;
}

.heading .right1 img {
    margin: 16px 313px
}

.value-props {
    display: flex;
    /* position: absolute; */
    justify-content: space-between;
}

.value-props {
    margin-left: 160px;
    margin-top: 133px;
    margin-right: 160px;
}


.value-props .box1 {
    width: 380px;
    height: 382px;
    top: 1451px;
    left: 121px;
    border-radius: 20px;
    border: 1px;
    background: rgba(255, 255, 255, 1);
    border: 1px solid rgba(219, 228, 233, 1);
}

.value-props .box1 .num {
    font-family: Manrope;
    font-size: 22px;
    font-weight: 800;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(0, 0, 0, 1);
    margin: 16px 16px;
}

.value-props .box1 img {
    justify-content: center;
    margin: 28px 159px;
}

.value-props .box1 h1 {
    font-size: 30px;
    font-weight: 800;
    line-height: 34px;
    letter-spacing: -0.03em;
    text-align: center;
    color: rgba(0, 0, 0, 1);
    margin-top: 10px;
}

.value-props .box1 #text1 {
    text-align: center;
    margin-top: 23px;
}

/* End of value props section  */

.content1 .left2 img {
    margin-left: 121px;
    margin-top: 139px;
    /* width: 531px;
    height: 480px; */
}

.content1 .right2 {
    width: 531px;
    height: 480px;
    margin-top: 140px;
    /* margin-left: 189px; */
    /* margin-right: 160px; */
    border-radius: 20px;
    border: 2px solid rgba(255, 255, 255, 1);
}


.content1 .right2 .tick-orange img {
    width: 24px;
    height: 24px;
}

/* End of content 1  */

.content2 .left3 {
    margin-left: 160px;
}

.content2 .left3 .boxa {
    /* border: 2px solid brown; */
    /* margin-left: 289px; */
    background: rgba(196, 196, 196, 1);
    border-radius: 20px;
    opacity: 0.3px;
    margin-top: 19px;
    Width: 479px;
    Height: 152px;
}

.content2 .left3 .boxa img {
    margin: -14px 21px
}

/* End of content 2  */

.features {
    /* width: 1440px; */
    height: 833px;
}

.features .features-box .features-box1 {
    width: 380px;
    height: 338px;
    border-radius: 10px;
    border: 1px;
    background: rgba(255, 255, 255, 1);
    border: 1px solid rgba(171, 200, 210, 1)
}

.features .features-box {
    justify-content: space-between;
    margin-right: 160px;
}

.features .features-box .features-third-top {
    width: 380px;
    height: 153px;
    border-radius: 10px;
    border: 1px;
    background: rgba(255, 255, 255, 1);
    border: 1px solid rgba(171, 200, 210, 1);
}

.features .features-box .features-third-top h1 {
    margin-top: 45px;
    text-align: left;
    margin-left: 57px;
}

/* End of features  */

.testimonial-boxes .testibox-first {
    width: 699px;
    height: 400px;
    border-radius: 10px;
    border: 1px;
    background: rgba(255, 255, 255, 1);
    border: 1px solid rgba(207, 207, 207, 1);
    margin-top: 74px;
    margin-left: 160px;
}

.testibox-fleft p {
    margin-left: 43px;
}

.testibox-fright .girl {
    margin: 28px 14px;
}

/* End of testimonial  */

.counter {
    height: 256px;
    background: rgba(55, 52, 169, 1);
    margin-top: 150px;
    color: white;
    display: grid;
    grid-template-columns: 1.6fr 1.2fr 1.2fr 1.5fr 0.5fr;
}

.counter .item {
    margin-top: 69px;
}

.counter .item h3 {
    font-size: 72px;
    font-weight: 800;
    line-height: 72px;
    letter-spacing: -0.02em;
    text-align: left;
}

.counter .item .counter-icon1 {
    margin-top: 21px;
}

.counter .item .short {
    margin-top: 17px;
    margin-left: 16px;
    font-size: 30px;
    font-weight: 400;
    line-height: 31px;
    letter-spacing: -0.02em;
    text-align: left;
}

/* End of counter section  */

.CTA .bg .CTA-head {
    font-size: 43px;
    font-weight: 800;
    line-height: 61px;
    letter-spacing: -0.03em;
    text-align: center;
    color: rgba(255, 255, 255, 1);
    margin-top: -333px;
    margin-left: -95px;
}

.CTA .bg .cta-btn {
    display: inline-block;
    /* width: 223px;
    height: 67px; */
    border-radius: 10px;
    margin-top: 44px;
    margin-left: 518px;
    background: rgba(255, 127, 92, 1);
    padding: 19px 42px;
}

.footer .contact {
    display: grid;
    grid-template-columns: 2.4fr 1.7fr 2.6fr 3fr;
}

.footer .copy p {
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: -0.02em;
text-align: center;
color: rgba(24, 20, 51, 1);
margin-bottom: 40px;
margin-top: 40px;
}

/* End of footer  */

.FAQ .FAQ-big-div .more-qstn {
    width: 401px;
    height: 512px;
    border-radius: 10px;
    border: 1px;
    background: rgba(255, 255, 255, 1);
    border: 1px solid rgba(207, 207, 207, 1) ;
    margin-left: 48px;
    margin-top: 71px;      
}


.FAQ .FAQ-big-div .faq-box .faq-box1{
    width: 751px;
height: 156px;
border-radius: 10px;
border: 1px solid rgba(207, 207, 207, 1);
margin-top: 71px;
}


.FAQ .FAQ-big-div .faq-box .faq-box1 .faq-text .title{
margin-top: 25px;
margin-left: 23px;
}

.FAQ .FAQ-big-div .faq-box .faq-box1 .faq-text .content{
margin-top: 23px;
margin-left: 23px;
}